.#{$prefix}-component-header {
    $self: &;  
    @extend %boxFull; 
    border-bottom: rem(0.1) solid rgba(220, 220, 220, 0.9);
    background: linear-gradient(180deg,rgba(255,255,255,.85) 0,rgb(255, 255, 255) 50%,rgba(234, 234, 234, 0.74));
}